{%extends 'base.html'%}
{%load static%}
{%block body_block%}

    <link rel="stylesheet" href="{%static 'social_app/css/index.css'%}">
    <div class="container d-flex flex-column justify-content-center align-items-center mt-5">
    {%if form.errors%}
        {{form.errors}}
    {%endif%}

        
        <!-- =====post add start -->
        <form class="w-100 " action="" method="post" enctype="multipart/form-data">
            <div class="container rounded-pill post p-2 mt-3 d-flex justify-content-evenly bg-secondary bg-opacity-10 mt-4">
                {%csrf_token%}
                <div class="">
                    {%if request.user.profile.profile_pic%}
                        <img class="profile-small" src="{{request.user.profile.profile_pic.url}}" alt="Avatar">
                    {%else%}
                        <img class="profile-small" src="{%static 'social_app/images/profilepic.png'%}" alt="Avatar">
                    {%endif%}
                </div>
                <div class="">
                    <input class="load d-none" name="post_image" type="file" id="file" accept="image/*">
                    <label class="upload d-flex justify-content-center align-items-center" style="width: 60px;" for="file"><img src="{%static 'social_app/images/upload.png'%}" style="width: 30px;" alt=""></label>
                </div>
                <div class="">
                    <input class="form-control rounded-pill" type="text" name="title" id="" placeholder="captions...">
                </div>
                <div class="">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </div>
        </form>
        <!-- =====post add start -->
        <!-- story start -->
        <div class="d-flex  container w-50 ">
            {%for st in stories%}
            <div class="d-flex flex-column">
                <article class="border rounded-circle bg-danger text-white  me-2 d-flex align-items-center justify-content-center" style="height: 100px;width: 100px; ">
                   
                   
                    {%if st.post_image%}
                        <img src="{{st.post_image.url}}" alt=""  style="width: 100px; height: 100px;" class="border rounded-circle">
                    {%endif%}
                   
                </article>
                <div class="text-center fw-bolder">{{st.user}}</div>
            </div>
            {%endfor%}
        </div>
        <!-- stryend -->
        <!-- post section start -->
        {%for post in data%}
        <div class="border border-1 rounded-4 mt-4 w-50">
            <div class="ms-2 mt-2 mb-2">
                {%if post.user.profile.profile_pic%}
                    <a href="{%url 'profile' post.id %}"><img class="profile-small" src="{{post.user.profile.profile_pic.url}}" alt="Avatar"></a>

                {%else%}
                    <a href="{%url 'profile' post.id%}"><img class="profile-small" src="{%static 'social_app/images/profilepic.png'%}" alt="Avatar"></a>

                {%endif%}
                {{post.user}}, {{post.created_date}}
            </div>
            <div>
                {%if post.post_image%}
                    <img src="{{post.post_image.url}}" class="h-auto w-100" alt="">
                {%endif%}
                <span>{{post.title}}</span>
            </div>
            <div class="ms-2 mt-2 mb-2 d-flex align-items-start">
                <form action="{%url 'like' post.id %}" method="post" class="d-flex">
                    {%csrf_token%}
                    {%if request.user in post.liked_by.all%}
                    <div class="d-block flex-column">
                        <div>
                            <button type="submit" class="btn" name="action" value="dislike">
                                <i class="fa-solid fa-heart-crack fs-4 text-danger btn"></i>
                            </button>
                        </div>
                        <div>
                            <span class="ms-2 spa">{{post.liked_by.all.count}}</span>
                        </div>
                    </div>
                    
                    {%else%}
                    <div class="d-block flex-column">
                        <div>
                            <button type="submit" class="btn" name="action" value="like">
                                <i class="fa-solid fa-heart fs-4 text-danger btn"></i>
                            </button>
                        </div>
                        <div>
                            <span class="ms-2 spa">{{post.liked_by.all.count}}</span>
                        </div>
                    </div>
                    
                    {%endif%}
                </form>
                <div class="d-block flex-column">
                    <div>
                        <button type="submit" class="btn"><i class="fa-solid fa-comment-dots fs-4 text-secondary btn"></i></button>
                    </div>
                    <div>
                        <span class="ms-2 spa">{{post.post_comments.all.count}}</span>
                    </div>
                </div>
                <div class="d-block flex-column">
                    <div>
                        <button type="submit" class="btn"><i class="fa-solid fa-location-arrow fs-4 btn"></i></button>
                    </div>
                </div>

            </div>
            <hr class="ms-3 me-3">
            
            {%for c in post.post_comments.all%}
            <div class="p-2 ms-2">
                {%if c.user.profile.profile_pic%}
                <div>
                    <img class="profile-xsmall" src="{{c.user.profile.profile_pic.url}}" alt="Avatar">
                </div>
                {%endif%}
                <div class="ms-2 comment form-control rounded-end-0 border-0">
                    <input type="text" name="" value="{{c.text}}" disabled id="" placeholder="Message .........." class="border-0 w-100">
                </div>
                
            </div>
            {%endfor%}
            <div class="d-flex align-items-center mb-4 p-3">
                <div>
                    {%if request.user.profile.profile_pic%}
                        <img class="profile-small" src="{{request.user.profile.profile_pic.url}}" alt="Avatar">
                    {%else%}
                        <img class="profile-small" src="{%static 'social_app/images/profilepic.png'%}" alt="Avatar">
                    {%endif%}
                </div>
                <form action="{%url 'comment' post.id %}" method="post">
                    {%csrf_token%}
                    <div class="ms-2 comment form-control rounded-end-0 border-0">
                        <input type="text" name="text" id="" placeholder="Message .........." class="border-0 w-100">
                    </div>
                    <div>
                        <button class="btn btn-secondary rounded-start-0" type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
        

        {%endfor%}
        
        <!-- post section end -->
    </div>
    {%endblock%}
</body>
</html>