{%extends 'base.html'%}

{%block body_block%}
<div class="container">
    <h2 class="text-center text-primary fw-bold mt-4">Mobiles</h2>
    <table class="table table-dark table-striped mt-5">
        <tr>
            <th>Name</th>
            <th>Specs</th>
            <th>brand</th>
            <th>price</th>
            <th>Display</th>
            <th></th>
        </tr>
        {%for mob in data%}

        <tr>
            <td>{{mob.name}}</td>
            <td>{{mob.specs}}</td>
            <td>{{mob.brand}}</td>
            <td>{{mob.price}}</td>
            <td>{{mob.display}}</td>
            <td class="">
                <a href="{%url 'mobile-detail' mob.id %}" class="btn btn-outline-primary ">view</a>
                <a href="{%url 'mobile-delete' mob.id %}" class="btn btn-outline-danger ms-3 ">delete</a>
                <a href="{%url 'mobile-change' mob.id %}" class="btn btn-outline-light ms-3">Edit</a>
            </td>

        </tr>
        
        {%endfor%}
    </table>
</div>
{%endblock%}