<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="{%url 'add'%}">Additon </a>
        <a href="{%url 'sub'%}">subtraction</a>
        <a href="{%url 'div'%}">Division</a>
        <a href="{%url 'mul'%}">multiplication</a>
        <a href="{%url 'cube'%}">cube</a>
        <a href="{%url 'fact'%}">factorial</a>
        <a href="{%url 'leapyear'%}">LeapYear</a>
        <a href="{%url 'bmi_cal'%}">BMI</a>
    </div>
</body>
</html>