<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LeapYear</h1>
    <div class="container">
        <form action="" method="post">
            {%csrf_token%}
            <label for="">Enter year</label>
            <input type="text" name="year" placeholder="enter year">
            <button type="submit">check</button>
        </form>
        {{out}}
    </div>
</body>
</html>